$fontParagraph: "Montserrat";
$fontHeader: "Inconsolata";
$headerFooter: #c5d3f5;

@mixin paddingLeftRight {
  padding-left: 9.5%;
  padding-right: 33%;
}

.navtext {
  font-family: $fontHeader;
}

body {
  margin: 0;
}

@media (min-width: 498px) {
  h1::before {
    content: "CS50W Project 0";
  }
  .content {
    @include paddingLeftRight();
  }
  .grid {
    @include paddingLeftRight();
  }
}
@media (max-width: 576px) {
  body {
    padding-right: 0%;
    padding-left: 5%;
  }
  h1::before {
    content: "Project 0";
  }
  .content {
    padding-left: 16px;
    padding-right: 16%;
  }
  .grid {
    padding-left: 16px;
    padding-right: 16%;
  }
}

.content {
  padding-top: 32px;
  text-align: justify;
  line-height: 200%;
  font-family: $fontParagraph;

  p {
    font-family: $fontParagraph;
  }

  li {
    font-family: $fontParagraph;
  }
}

footer {
  font-family: $fontHeader;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
}

a {
  color: rgba(0, 0, 0, 0.5);
}

a:hover {
  color: darkslategray;
}

.tabletext {
  font-family: $fontParagraph;
}

.complete {
  color: greenyellow;
}

.inprogress {
  color: orange;
}

#tablehead {
  @extend .navtext;
  font-size: large;
}
