$fontParagraph: "Montserrat";
$fontHeader: "Inconsolata";
$headerFooter: #a4b4da;

@mixin paddingLeftRight {
  padding-left: 10%;
  padding-right: 33%;
}

body {
    margin: 0;
  }

.content {
    padding-left: 10%;
    padding-right: 33%;
    padding-top: 32px;
    text-align: justify;
    line-height: 200%;

    p {
        font-family: $fontParagraph;
    }

    li {
        font-family: $fontParagraph;
    }
}

header {
    @include paddingLeftRight();
    background-color: $headerFooter;
    padding-bottom: 16px;
    padding-top: 16px;

    h1 {
        font-size: 42px;
        font-family: $fontHeader;
      }
  }

  footer {
    @include paddingLeftRight();
    text-align: justify;
    font-family: $fontParagraph;
    padding-bottom: 16px;
    padding-top: 80px;
  }